__pycache__/
__pypackages__/
.idea
.Python
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
instance/
.webassets-cache
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
*.log
*.db
logs/